/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  /* be sure to use this for alignment */
  width: 880px;
  margin: 0 auto;
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

/* Your code starts here! */
h2 {
	font-size: 3.5em;
	text-align: center;
	margin: 10px 35px 10px 20px;
  }
  
  .nav-bar {
	/* background-color:rgb(211,211,211, .5); */
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
  }

  .nav-bar a {
  /*   border: .5px solid green; */
    display: flex-row;
    margin: 20px;
    text-decoration: none;
    color: gray;
    font-size: 0.9em;
    padding: 10px;
    width: 50px;
    height: 25px;
    align-items: flex-start;
}
  .container header nav a {
	text-decoration: none;
	color: gray;
	font-size: .90em;
	padding: 10px;
	margin: 4px;
	text-align: center;
	
	
  }
 
  
  .content_1 {
	border-top: 1px solid black;
	margin: 1%;
	width: 100%;
  }
  
  .content_1_box {
	display: inline-block;
	margin: 1%;
	width: 270px;
	height: 160px;
	min-width: 150px;
  }
  
  .content_3 {
   
	border-top: 1px solid black;
	margin: 0%;
	width: 100%;
	
  }
  
  .content_3_box {
	 display: inline-block;	  
	  margin: 1%;
	  width: 410px;
	  height: 130px; 
  }
  
  .contact-section {
	border-top: px solid black;
	padding: 20px 0;
	margin: 1%;
	width: 100%;
  }
  
  .image-div {
	background: url('https://github.com/LambdaSchool/User-Interface/blob/master/great-idea-website/img/mid-page-accent.jpg?raw=true" alt="Image of code snippets across the screen');
	background-repeat: no-repeat;
	margin: 0px 0px 0px 200px;
	margin: 1%;
	width: 100%;
  }
  
  address {
	line-height: 1;
	display: flex;
	justify-content: left;
	font-size: 15px;
	color: black;
  }
  
  .footer-content p {
	text-align: center;
  }
  
  .box {
	width: 100px;
	height: 100px;
	text-align: center;
	display: inline-block;
  }
  
  .box1 {
	display: inline-block; 
	vertical-align: 90px;
	margin: 80px;
	width: 310px;
	height: 250px;
  }
  .box2{
	margin: 20px
  }
  
  .button1 {
	background-color: white;
	color: black;
	border: 1px solid #555555;
	padding: 5px 30px;
  }

  @media (max-width: 800px) {
    .container {
        width: 800px;
    }
    .nav-bar {
        /* background-color:rgb(211,211,211, .5); */
        margin: 1%;
        padding: 1%;
        width: 800px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;
      }

      .nav-bar a {
            /* border: 1px solid green; */
        display: inline;
        margin: 35px;
        text-decoration: none;
        color: gray;
        font-size: 0.9em;
        padding: 5px;
        text-align: center;
        align-items: flex-start;
        justify-content: space-between;
      }
      .content_2_box {
        width: 10%;
      }

      .box1{
        display: flex;
        text-align: center;
        flex-direction: column;
        vertical-align: 90px;
        margin: 70px;
        width: 800px;
        height: 250px;
        align-items: center;
      }

      .box2{
        display: none;
      }
      .content_3 {
        width: 800px;
        display: flex;
      }
  }

  @media (max-width: 500px) {

    .container{
      /* border: 1px solid red; */
      align-items: center;
      display: flex;
      margin-top: -100px;
      margin-left: 108px;
      
    }
    
    .nav-bar a {
      height: 50px;
      width: 500px;
      border-bottom: 1px solid black;
      display: flex;
      margin: 35px;
      text-decoration: none;
      color: gray;
      font-size: 2em;
      line-height: 1em;
      padding: 15px;
      text-align: center;
      align-items: flex-start;
      justify-content: center;
    }

    .box1 {
      border: 1px solid red;
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      margin: 55px;
      width: 500px;
      height: 260px;;
    }

    
    .content_3 {
      /* border: 1px solid red; */
      border-top: 2px solid black;
      margin-top: -50px;
      margin-left: 150px;
      width: 500px;
      height: 280px;
      flex-direction: column;
      display: flex;
    }

    .content_3_box {
      /* border: 3px solid green; */
      width: 500px;
      font-size: 1em;
      line-height: 1.5em;
    }
    .image-div {
    
      width: 500px;
      height: 200px;
      margin-top: 0px;
      margin-left: 155px;
    }
    .image {
      width: 500px;
      height: 200px;
      background-image: url("https://github.com/LambdaSchool/User-Interface/blob/master/great-idea-website/img/mid-page-accent.jpg?raw=true");
    }
  }